include ../loader/loader

mixin snap(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .snap.page(id="#{spec.city}" style="background-image: url('../images/bg_#{spec.city}.png')")
    img(class="toprightlogo" src="../images/logo.png")
    img(class="topleftplane #{spec.plane}" src="../images/plane_#{spec.plane}.png")
    img(class="title" src="../images/title_#{spec.city}.png")
    img(class="building" src="../images/building_#{spec.city}.png")
    img(class="pilotcrew" src="../images/pilotcrew#{spec.pilotcrewnumber}.png")
    h1(class="hashtag cooperBlack")
      span #
      | EVAAIR
    
    img(class="lookhere" src="../images/look_here.png")
    img(class="arrowright" src="../images/arrow_right.png")
    .countdown
    
