mixin sticker(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - imagepath = '../images'
  - city = spec.city

  .sticker(class="sticker-#{city}")
    h2 
      | CHOOSE
      br 
      | STICKER
    
    .column
      each leftimg in spec.leftcolumn
        img(src="#{imagepath}/#{city}/#{leftimg}.png")
    .column
      each rightimg in spec.rightcolumn
        img(src="#{imagepath}/#{city}/#{rightimg}.png")
